/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property: background-color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}